{% extends 'base.html' %}
{% block title %}{{ block.super }} - Postlar {% endblock title %}
{% block content %}
	{% for post in object_list %}
		<div class="card border-dark mb-3">
			<div class="card-header text-white bg-dark">
				<span class="font-weight-bold"> &middot;{{ post.title }}</span>
			</div>
			<div class="card-body text-dark">
				{{ post.body|safe }}
				{% if post.author == user or user.is_superuser %}
				<a href="{% url 'post_edit' post.pk %}">Düzenle</a> |
				<a href="{% url 'post_delete' post.pk %}">Sil</a>
				{% endif %}
			</div>
			<div class="card-footer bg-muted">
				<span class="text-dark"><span class="font-weight-bold">{{ post.author }}</span> tarafından |
				<span class="font-weight-bold">{{ post.date }}</span> tarihinde oluşturuldu</span>
			</div>
		</div>
	<br/>
	{% endfor %}
	{% if is_paginated %}
			{% if page_obj.has_previous %}
				<a class= "btn btn-outline-dark mb-4" href="?page=1">İlk Sayfa</a>
				<a class= "btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">«</a>
			{% endif %}
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
					<a class= "btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{%elif num > page_obj.number|add:'-3'  and num < page_obj.number|add:'3'%}
					<a class= "btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class= "btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">»</a>
			<a class= "btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Son Sayfa</a>
		{% endif %}
	{% endif %}

{% endblock content %}